html,
body {
  height: 100%;  
}
/* 
body {
  margin: 0;
  padding: 0;
} */

/* #root {
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #9fa8da;
  color: white;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2px;
}



